:root {
  --body-bg-color: white;
  --body-color: black;
  --sky-color: #ccf6fb;
}
body {
  font:
    16px Arial,
    sans-serif;
  background-color: var(--body-bg-color);
  color: var(--body-color);
}
.landing header {
  text-align: center;
  position: relative;
  background-color: var(--sky-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.landing header figure {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.landing header .img-container {
  aspect-ratio: 1920 / 1080;
  width: 60%;
}
.landing img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.landing article .img-container {
  aspect-ratio: 16 / 10;
}

article.detail {
  padding: 5%;
}

.detail figcaption {
  padding: 5% 0;
}

.tag {
  display: inline-block;
  background: #eef;
  padding: 0.15rem 0.4rem;
  border-radius: 0.25rem;
  margin-right: 0.25rem;
  font-size: 0.8rem;
}
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.mb-3 {
  width: 400px;
  text-align: center;
  justify-content: center;
}
.navbar-brand {
  height: auto;
}

.img-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 90px;
  height: 60px;
  overflow: hidden;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  z-index: 1000;
  border-radius: 50%;
}


